<div class='type-ahead'>
    <div class='type-ahead__input-area'>
        <div class='type-ahead__message'>
            {{> message}}
        </div>
        <div class='type-ahead__form'>
            {{> form}}
        </div>
    </div>
    <div class='type-ahead__horizontal-divider'>
        {{> horizontal-divider}}
    </div>
    <div class="type-ahead__search-result">
        {{> search-result}}
    </div>
</div>
